/* --- ESTILIZAÇÃO DOS NOVOS FILTROS --- */

.filtros-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    /* Para não quebrar no celular */
    margin-bottom: 15px;
}

.filtro-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    text-transform: uppercase;
}

.filtro-btn.ativo,
.filtro-btn:hover {
    background: var(--dourado);
    /* Amarelo Fenda */
    color: #000;
    border-color: var(--dourado);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(255, 188, 0, 0.2);
}


/* --- CARDS DO FEED (RECUPERADO) --- */

.container-feed {
    max-width: 700px;
    gap: 30px;
    margin: 20px auto;
    padding: 20px 35px;
    background: transparent;
}

.container-feed article {
    margin-bottom: 20px !important;
    border-radius: 15px;
    border-bottom: 1px solid rgba(255, 188, 0, 0.1);
}

.spotted-card {

    background: rgba(10, 10, 10, 0.308);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 12px;
    margin: 0 auto 20px auto;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px !important;

}

/* Efeito de hover para dar vida ao vidro */

.spotted-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
}


/* Cores das Categorias */

.spotted-card.ranco {
    border-left: 15px solid #ce0f0f !important;
}

.spotted-card.comunidade {
    border-left: 15px solid #bf0fd67e !important;
}

.spotted-card.acaba-pelo-amor-de-deus {
    border-left: 15px solid #f78605 !important;
}

.spotted-card.perdidos {
    border-left: 13px solid #d6d308 !important;
}



/*  ELOGIOS - Correio Elegante */
.spotted-card.elogio {
    border-left: 13px solid #e05586 !important;
    background: linear-gradient(145deg, rgba(228, 83, 134, 0.514), rgba(10, 10, 10, 0.247)) !important;
    position: relative;
}

.spotted-card.elogio::before {
    content: '\f004';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 1.8rem;
    color: #e7427c;
    opacity: 0.6;
    padding: 10px;
    gap: 8px;
}

/*  ESPORTES  */
.spotted-card.esportes {
    border-left: 13px solid #0fc44bee !important;
    background: linear-gradient(145deg, rgba(13, 179, 68, 0.384), rgba(10, 10, 10, 0.219)) !important;
    position: relative;
}

.spotted-card.esportes::before {
    content: '\f1e3';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 1.8rem;
    color: #0db344;
    opacity: 0.5;
    padding: 10px;
    gap: 8px;
}

/*  GAMES - Vibe Neon */
.spotted-card.games {
    border-left: 13px solid #01e6e6 !important;
    background: linear-gradient(145deg, rgba(13, 154, 179, 0.5), rgba(14, 145, 185, 0.13)) !important;
}

.spotted-card.games::before {
    content: '\f11b';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 1.8rem;
    color: #0daac5;
    opacity: 0.6;
    padding: 10px;
    gap: 8px;
}

/* CARONAS */
.spotted-card.caronas {
    border-left: 13px solid #263e4dee !important;
    background: linear-gradient(145deg, rgba(38, 62, 77, 0.3), rgba(10, 10, 10, 0.664)) !important;
}

.spotted-card.caronas::before {
    content: '\f1b9';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 1.8rem;
    color: #cccccca8;
    opacity: 0.7;
    padding: 10px;
    gap: 8px;
}

/*  ESTUDOS */
.spotted-card.academico {
    border-left: 13px solid #4B0082 !important;
    background: linear-gradient(145deg, rgba(133, 17, 179, 0.2), rgba(0, 0, 0, 0.363)) !important;
}

.spotted-card.academico::before {
    content: '\f518';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 1.8rem;
    color: #9311c7;
    opacity: 0.5;
    padding: 10px;
    gap: 8px;
}


.post-content {
    white-space: pre-wrap;
    /* Faz as quebras de linha do usuário funcionarem no HTML */
    word-wrap: break-word;
    font-size: 1.4rem !important;
    line-height: 1.5;
    color: #ffffff;
    margin: 15px 0;
    font-weight: 500;
    text-align: left;
}


.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.spotted-card:first-child {
    margin-top: 0;
}



/* --- APROVEITANDO SUAS BADGES --- */

.btn-filtro {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-filtro:hover {
    background: rgba(255, 255, 255, 0.15);
}

.btn-filtro.ativo {
    background: var(--dourado);
    /* Ou o seu laranja/amarelo */
    color: #000;
    border-color: var(--dourado);
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);
}


.badge-perdido {
    background-color: #ff4b2b !important;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.2);
}

.badge-achado {
    background-color: #2ecc71 !important;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.2);
}

.badge-perdido,
.badge-achado {
    background: rgba(255, 255, 255, 0.192);
    /* Um fundinho bem sutil */
    border-left-style: solid !important;
}


/* O container que envolve o formulário de postagem/comentário */
.sessao-publicar {
    background: rgba(0, 0, 0, 0.45) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
    border-radius: 20px !important;
    padding: 25px !important;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.sessao-publicar h3,
.titulo-publicar {
    color: var(--dourado) !important;
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-align: center;
}

.link-fofoca {
    color: #ffbc00 !important;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.link-fofoca:hover {
    color: #fff !important;
    transform: translateX(5px);
    /* Efeito de setinha andando */
}


/* Container do ícone do sino */

.badge-alerta {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #ff4757;
    color: white;
    font-size: 10px;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--laranja-fenda);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-item-notif {
    position: relative;
    display: inline-block;
}


/* --- COMPONENTES DO CARD/PERFIL --- */


.category-tag {
    font-size: 1.2rem;
    color: var(--dourado);
    font-weight: bold;
    white-space: nowrap;
    flex-shrink: 0;
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 60px;
    

}

.category-tag small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    opacity: 0.7;
    color: #fff;
}

.post-time {
    font-size: 1.3rem;
    white-space: nowrap;
    flex-shrink: 0;
    opacity: 0.6;
    margin-left: auto;
}

.status-resolvido {
    border-left: 3px solid #29d16f !important;
    background: rgba(46, 204, 113, 0.05);
}


/* Efeito de Hover notificações que não quebra a borda */

.link-notificacao:hover .card-notificacao {
    background: rgba(255, 188, 0, 0.08);
    border-color: rgba(255, 188, 0, 0.3);
    border-left-width: 6px;
    transform: translateX(5px);
    /* Desloca pro lado em vez de tremer */
}

.notificacao-conteudo p {
    margin: 0;
    font-size: 1.3rem;
    color: #eee;
    line-height: 1.4;
}

.notificacao-conteudo small {
    color: #888;
    display: block;
    margin-top: 5px;
}

.seta-notificacao {
    color: #ffbc00;
    opacity: 0.5;
    font-size: 0.9rem;
}

/* Estilo para notificações que ainda não foram abertas */
.card-notificacao.nova {
    background: rgba(255, 188, 0, 0.05);
}

.card-notificacao {
    max-width: 800px;
    font-size: 1.1rem;
}



/* Estilizando os links das reações */

.container-pilulas-reacoes {
    display: flex;
    gap: 8px;
    padding: 10px 0;
    margin-top: 10px;
    position: static;
}

.reacoes-popup {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(10px);
    /* Começa um pouco abaixo e centralizado no eixo X */
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    bottom: 40px;
    /* Sobe a popup para ficar acima da palavra */
    left: 40%;
    /*  Move o canto esquerdo da popup para o meio do "Reagir" */
    background: #252542;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    /* Garante que os emojis não quebrem a linha */
    bottom: 30px;
    padding: 10px 15px;

}

.reacao-wrapper:hover .reacoes-popup {
    display: flex !important;
    bottom: 30px;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(-50%) translateY(0);
    /* Finaliza centralizado e na altura correta */
}

.reacao-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 1.5rem;
    border: 1px solid rgba(255, 188, 0, 0.2);
    color: #eee;
}

.reacoes-popup a {
    text-decoration: none;
    font-size: 1.4rem;
    display: inline-block;
    transition: transform 0.2s ease;
}

.reacoes-popup::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -20px;
    /* Cria uma ponte invisível entre o botão e o menu */
    left: 0;
}

.reacoes-popup a:hover {
    transform: scale(1.5) translateY(-5px);
}

.footer-links {
    display: flex !important;
    gap: 15px !important;
    padding: 10px !important;
    justify-content: space-between;
    align-items: center;
}

/* Ajuste fino footer-links */

.footer-links .btn-trigger-reacoes,
.footer-links .btn-comentar {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaço entre o ícone e o texto */
    font-size: 0.9rem;
}



/*  TEXTOS (NOME E USERNAME) */

.perfil-info-publica {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    padding: 0 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.nome-publico {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ff9100b0;
    letter-spacing: 1px;
}



.card-notificacao:hover {
    background-color: #252525 !important;
    transform: scale(1.05);
    transition: all 0.2s ease;
}



/* ============================================================
   SEÇÃO: ELEMENTOS DE USUÁRIO (AVATARES E MENÇÕES)
   ============================================================ */

.avatar-p {

    border: 1px solid var(--dourado);
    gap: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.user-info-post {
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.user-mention {
    color: var(--dourado);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    /* Corta se for absurdamente grande (segurança) */
    text-overflow: ellipsis;
    max-width: 180px;
    /* Ajuste esse valor conforme o espaço que você tem */

}

.btn-reagir,
.btn-fofocar {
    color: #ccc;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    gap: 15px;
}

.btn-fofocar:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    transition: 0.3s background ease-in-out;
    color: #cc900e;
}

/* COMENTÁRIOS */

.comentario-item {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    margin-bottom: 20px;
    border-left: 13px solid #70cde4be;
    border-radius: 12px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comentario-item strong {
    color: #ebc415;
    font-size: 1.2rem;
}

.comentario-item span {
    font-size: 1.3rem;
    line-height: 1.5;
}

.mencao-comentario {
    color: var(--dourado);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    background: rgba(255, 188, 0, 0.1);
    padding: 0 4px;
    border-radius: 4px;
}

.mencao-comentario:hover {
    background: var(--dourado);
    color: #000;
    text-shadow: none;
}




/* --- EASTER EGG: A PRESENÇA (ID 1) --- */


.perfil-gold .img-avatar-perfil {
    border-color: var(--dourado) !important;
    box-shadow: 0 0 15px rgba(255, 187, 0, 0.637);
}

.perfil-gold .img-capa-preview {
    border: 2px solid var(--dourado);
    border-radius: 12px;
}

.badge-presenca {
    display: block;
    width: fit-content;
    margin: 25px 40px 0 auto;
    background: linear-gradient(45deg, var(--dourado), #fff000);
    color: #000;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 188, 0, 0.4);
    position: relative;
    z-index: 10;
}


/*----------- PARA AS CONFIGURAÇÕES MOBILE------------ */

@media (max-width: 600px) {

    * {
        box-sizing: border-box;
    }

    @media (hover: hover) {
        .header-icons a:hover i {
            color: #fff !important;
            transform: scale(1.3);
        }

        .btn-config:hover i {
            transform: rotate(90deg) scale(1.3) !important;
            color: #fff !important;
        }
    }

    body {
        font-size: 14px;
    }

    header {
        padding: 15px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    header h1 {
        font-size: 1.8rem !important;
        max-width: 50% !important;
        margin-bottom: 0 !important;
        text-align: left !important;
    }

    .header-icons {
        font-size: 1.6rem;
        position: static !important;
        display: flex !important;
        gap: 15px !important;
        right: auto !important;
        transform: none !important;
    }


    .popup-notificacao {
        left: 5%;
        right: 5%;
        width: 90%;
        bottom: 20px;
    }

    .container-feed {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .spotted-card {
        padding: 10px;
        width: 90%;
        margin: 10px auto;
        scroll-margin-top: 80px;
    }

    .category-tag {
        font-size: 0.8rem !important;
        white-space: nowrap;
    }

    .post-time {
        font-size: 0.75rem;
        order: 2;
        /* Joga a data para o final da linha */
    }

    .filtro-btn {
        text-decoration: none;
        font-size: 14px;
        font-weight: 800;
        padding: 8px 16px;
    }

    /* 1. O CONTAINER PAI: Dá o respiro das bordas da tela */
    .main-perfil-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 92% !important;
        margin: 30px auto !important;
        padding: 15px !important;
        background: rgba(10, 10, 10, 0.596) !important;
        border-radius: 20px !important;
    }


    /* 3. O FORMULÁRIO */
    form,
    .form-perfil-corpo {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        max-width: 100% !important;
        padding: 5px !important;
        margin: 20px 5px !important;
        background: rgba(10, 10, 10, 0.596) !important;
    }

    .titulo-pagina {
    color: var(--dourado); /* Dourado da Fenda */
    font-size: 1rem!important;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


    /* 4. OS CAMPOS (Inputs e Textareas) */
    .campo-grupo {
        width: 100% !important;
        display: flex;
        flex-direction: column;
       
    }

    .campo-grupo textarea {
    height: auto !important; 
    min-height: 90px !important; 
    width: 100% !important;
    max-width: 350px !important;
    margin: 0 auto 15px auto !important;
    padding: 10px !important; }

    .campo-grupo input,
    .campo-grupo textarea,
    .input-username-wrapper {
        max-width: 350px!important;
        width: 100% !important;
        margin: 0 auto; 
    
    }

.campo-grupo input,
.input-username-wrapper {
    display: flex !important;
    align-items: center !important;
    max-width: 350px !important;
    width: 100% !important;
    margin: 0 auto 15px auto !important;
    height: 40px !important; /* Aqui trava a altura da caixa toda */
    background: rgba(255, 255, 255, 0.05); /* Um fundinho de leve */
    border-radius: 8px;
    overflow: hidden; 
}

.input-username-wrapper span {
    padding: 0 12px !important;
    color: var(--dourado) !important;
    font-weight: bold !important;
    background: rgba(255, 255, 255, 0.05) !important; /* Dá um destaque no @ */
    height: 100%;
    display: flex;
    align-items: center;
}

.input-username-wrapper input {
    flex: 1 !important;
    height: 100% !important;
    background: transparent !important; /* Tira o fundo para não cobrir o wrapper */
    border: none !important; /* Tira as bordas para não duplicar */
    color: #fff !important;
    padding: 0 10px !important;
    margin: 0 !important; /* Zera margens para não esticar o pai */
}

    form, .form-perfil-corpo {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; /* Centraliza os campos automaticamente */
    width: 100% !important;
    padding: 10px !important; 
    
}

.campo-grupo input, .campo-grupo textarea {
    width: 100% !important;
    max-width: 350px !important; 
    margin: 0 auto 15px auto !important; 
}


    /* 5. OS BOTÕES */
    
   .capa-wrapper.viewer {
    width: 100%;
    height: 400px !important;    
    position: relative;
    overflow: hidden;
    background-color: #000;      
    border-radius: 12px 12px 0 0;
}
    .perfil-controles {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
        width: 100% !important;
    }


    /* 6. AJUSTE DA CAPA E AVATAR  */
    .capa-wrapper {
        width: 90% !important;
        margin: 15px auto !important;
        border-radius: 12px !important;
        overflow: hidden;
        height: 250px !important;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    }

    .avatar-wrapper {
        margin-top: -45px !important;
        transform: scale(0.85);
        z-index: 10;
    }


/*  CAPA - PERFIL PÚBLICO  */
.capa-wrapper.viewer {
    width: 100% !important;
    position: relative !important;
    order: 1 !important;
    overflow: hidden !important;
}


/*  AVATAR (CAPIVARA) */

/* 1. O Container do Perfil: vira uma coluna e limpa tudo */
    .perfil-header-container, 
    .perfil-viewer-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important; /* Centraliza tudo no eixo X */
        text-align: center !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    /* 2. O Wrapper do Avatar: para de voar e desce pra Terra */

    .avatar-wrapper.viewer {

        float: none !important;     
        position: relative !important;
        display: flex !important;
        justify-content: center !important;
        margin: -50px auto 10px auto !important; 
        width: 110px !important;
        height: 110px !important;
        left: unset !important;      
        top: unset !important;       
    }

    /* 3. A Imagem em si: redonda e centrada */
    .img-avatar-perfil {
        width: 110px !important;
        height: 110px !important;
        border-radius: 50% !important;
        border: 4px solid var(--dourado) !important;
        margin: 0 !important;
        position: static !important;
    }

    /* 4. As informações (Nome, @usuario): Garante que apareçam embaixo */
    .perfil-info-publica {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 0 !important;
        padding: 10px 0 !important;
        position: static !important;
        order: 2 !important; 
    }

    .nome-publico {
        margin-top: 5px !important;
        font-size: 1.3rem !important;
    }


/*  (BOTÃO EDITAR/SEGUIR) - Forçado para baixo */

.btn-editar-perfil,
.btn-seguir,
.btn-editar-atalho,
.btn-seguir-fenda 
{
    position: static !important;
    float: none !important;
    display: inline-block !important;
    width: auto !important;
    min-width: 90px !important;
    padding: 8px 20px !important;
    margin: 10px 10px 10px 10px !important;
    align-self: flex-end !important;
    text-align: center;
}

/*  SELO DA PRESENÇA - Ajustado */

.badge-presenca {
    display: table !important;
    font-size: 0.8rem !important;
    order: 3 !important;
    display: table !important;
    margin: 15px auto !important;
    position: static !important;

}

.bio-box {
    width: 90% !important;
    margin: 20px auto 30px auto !important;
    text-align: center;
    font-size: 0.9rem !important;
}

/* 7. STATS (Seguidores) */
.stats-perfil {
    justify-content: flex-start !important;
    margin: 10px 0 auto !important;
    order: 5 !important;
    padding-left: 20px !important;
}

/* Fecha o @Media Hover */

}